[submodule "cookbooks/users"]
	path = cookbooks/users
	url = https://github.com/opscode-cookbooks/users.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = https://github.com/opscode-cookbooks/tomcat.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/chef-sugar"]
	path = cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
